/* Swift */
.dw-colorscheme-light, 
[data-dw-colorscheme="light"] {
/* Light */
--dw-color-background: #F4F6FA;
--dw-color-background-rgb: 244, 246, 250;
--dw-color-foreground: #0f1520;
--dw-color-foreground-rgb: 15, 21, 32;
--dw-color-button-primary: #4146E5;
--dw-color-button-primary-rgb: 65, 70, 229;
--dw-color-button-primary-contrast: #fff;
--dw-color-button-secondary: #dde3ee;
--dw-color-button-secondary-rgb: 221, 227, 238;
--dw-color-button-secondary-contrast: #000;
}
.dw-colorscheme-lightgrey1, 
[data-dw-colorscheme="lightgrey1"] {
/* Light Grey 1 */
--dw-color-background: #eff1f6;
--dw-color-background-rgb: 239, 241, 246;
--dw-color-foreground: #0f1520;
--dw-color-foreground-rgb: 15, 21, 32;
--dw-color-button-primary: #0f1520;
--dw-color-button-primary-rgb: 15, 21, 32;
--dw-color-button-primary-contrast: #fff;
--dw-color-button-secondary: #777b83;
--dw-color-button-secondary-rgb: 119, 123, 131;
--dw-color-button-secondary-contrast: #fff;
}
.dw-colorscheme-lightgrey2, 
[data-dw-colorscheme="lightgrey2"] {
/* Light Grey 2 */
--dw-color-background: #dde3ee;
--dw-color-background-rgb: 221, 227, 238;
--dw-color-foreground: #242424;
--dw-color-foreground-rgb: 36, 36, 36;
--dw-color-button-primary: #4146E5;
--dw-color-button-primary-rgb: 65, 70, 229;
--dw-color-button-primary-contrast: #fff;
--dw-color-button-secondary: #777b83;
--dw-color-button-secondary-rgb: 119, 123, 131;
--dw-color-button-secondary-contrast: #fff;
}
.dw-colorscheme-dark, 
[data-dw-colorscheme="dark"] {
/* Dark */
--dw-color-background: #0f1520;
--dw-color-background-rgb: 15, 21, 32;
--dw-color-foreground: #ffffff;
--dw-color-foreground-rgb: 255, 255, 255;
--dw-color-button-primary: #f5f5f5;
--dw-color-button-primary-rgb: 245, 245, 245;
--dw-color-button-primary-contrast: #000;
--dw-color-button-secondary: #777b83;
--dw-color-button-secondary-rgb: 119, 123, 131;
--dw-color-button-secondary-contrast: #fff;
}
.dw-colorscheme-darksubtle, 
[data-dw-colorscheme="darksubtle"] {
/* Dark Subtle */
--dw-color-background: #777b83;
--dw-color-background-rgb: 119, 123, 131;
--dw-color-foreground: #ffffff;
--dw-color-foreground-rgb: 255, 255, 255;
--dw-color-button-primary: #0f1520;
--dw-color-button-primary-rgb: 15, 21, 32;
--dw-color-button-primary-contrast: #fff;
--dw-color-button-secondary: #ededed;
--dw-color-button-secondary-rgb: 237, 237, 237;
--dw-color-button-secondary-contrast: #000;
}
.dw-colorscheme-primary, 
[data-dw-colorscheme="primary"] {
/* Primary */
--dw-color-background: #4146E5;
--dw-color-background-rgb: 65, 70, 229;
--dw-color-foreground: #ffffff;
--dw-color-foreground-rgb: 255, 255, 255;
--dw-color-button-primary: #f5f5f5;
--dw-color-button-primary-rgb: 245, 245, 245;
--dw-color-button-primary-contrast: #000;
--dw-color-button-secondary: #777b83;
--dw-color-button-secondary-rgb: 119, 123, 131;
--dw-color-button-secondary-contrast: #fff;
}
.dw-colorscheme-secondary, 
[data-dw-colorscheme="secondary"] {
/* Secondary */
--dw-color-background: #242424;
--dw-color-background-rgb: 36, 36, 36;
--dw-color-foreground: #ffffff;
--dw-color-foreground-rgb: 255, 255, 255;
--dw-color-button-primary: #eff1f6;
--dw-color-button-primary-rgb: 239, 241, 246;
--dw-color-button-primary-contrast: #000;
--dw-color-button-secondary: #777b83;
--dw-color-button-secondary-rgb: 119, 123, 131;
--dw-color-button-secondary-contrast: #fff;
}
.dw-colorscheme-white, 
[data-dw-colorscheme="white"] {
/* White */
--dw-color-background: #FFFFFF;
--dw-color-background-rgb: 255, 255, 255;
--dw-color-foreground: #0f1520;
--dw-color-foreground-rgb: 15, 21, 32;
--dw-color-button-primary: #4146E5;
--dw-color-button-primary-rgb: 65, 70, 229;
--dw-color-button-primary-contrast: #fff;
--dw-color-button-secondary: #dde3ee;
--dw-color-button-secondary-rgb: 221, 227, 238;
--dw-color-button-secondary-contrast: #000;
}
